
@{
    ViewBag.Title = "Gestionar Cobros";
}

@if (ViewBag.TipoPersona == "Empleado")
{
    <h2>Gestionar Cobros</h2>
}
else
{
    <h2>Mis Cobros</h2>
}

<div class="mb-4">
    <a href="@Url.Action("CrearCobro", "Cobros")" class="btn btn-primary">Nuevo Cobro</a>
</div>


<table id="table-cobros" style="width: 100%" class="display">
    <thead>
        <tr>
            <th>Numero Cobro</th>
            <th>Numero Casa</th>
            <th>Numero Propietario</th>
            <th>Periodo</th>
            <th>Estado</th>
            @*<th>Acción</th>*@
        </tr>
    </thead>

</table>

<div id="dialog" title="Detalle del Cobro" style="display:none;">
</div>


@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            new DataTable("#table-cobros", {
                ajax: {
                    url: "/Cobros/ListaCobros",
                   
                    dataSrc: 'data'
                },

                columns: [
                    { data: 'IdCobro' },
                    { data: 'Casa' },
                    { data: 'Cliente' },
                    { data: 'Periodo' },
                    {
                        data: 'Estado', render: function (data) {
                            return data ? "Activo" : "Inactivo"; 
                        }
                    },

                    {
                        data: null,
                        orderable: false,
                        render: function (data, type, row) {
                            return `<a href="#" class="btn btn-primary btn-sm abrirModal" data-id="${row.IdCobro}">Consultar</a>`;
                        }
                    }

                ]
            });
        });
    </script>

    <script type="text/javascript">
        $(document)
    </script>


    <script>
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                width: 600, 
                height: 400, 
                modal: true,
                title: "Detalle del Cobro",
                buttons: [
                    {
                        text: "Cerrar",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
            $(document).on("click", ".abrirModal", function (e) {
                e.preventDefault(); 
                const idCobro = $(this).data("id");
                console.log("ID del cobro:", idCobro);
                if (!idCobro) {
                    $("#dialog").html("<p>ID del cobro no válido.</p>").dialog("open");
                    return;
                }
                const url = `/Cobros/DetalleCobros?id_cobro=${idCobro}`;
                $("#dialog").html('<div style="text-align: center; padding: 20px;"><i class="fa-solid fa-spinner"></i></div>');
                $.get(url)
                    .done(function (data) {
                        if (data.redirectTo) {
                            window.location.href = data.redirectTo;
                        } else {
                            $("#dialog").html(data).dialog("open");
                        }
                    })
       
            });
        });
    </script>








}